//== Grid systems
$screen-sm: 767px;

//== Colors
//
//## Gray and brand colors for use across Money Platform.
$gray13: hsl(0, 0%, 13%); // black 87%
$gray18: #2f2f2f;
$gray46: hsl(0, 0%, 46%);
$gray60: #9a9a9a;
$gray96: #f5f5f5;
$brand-primary: #FC9826;


//== Scaffolding
//
//## Settings for some of the most global styles.
//** Background color for `<body>`.

$body-bg: #F5F5F5;


//== Navbar
//
//##
// Basics of a navbar
$navbar-height: 50px;
$navbar-default-bg: $gray96;
$navbar-collapse-max-height: 310px;
$navbar-default-link-color: $gray18;
$navbar-default-link-hover-color: $brand-primary;

//== Dropdowns
//
//## Dropdown menu container and contents.
// dropdown menu active bg
$navbar-default-link-active-bg: transparent;
$dropdown-bg: #3c3c3c;
$dropdown-bg-color: $dropdown-bg;
$dropdown-link-color: #fff;
$dropdown-link-hover-bg: lighten($brand-primary, 8%);
$dropdown-link-hover-color: #fff;
$navbar-default-toggle-icon-bar-bg: $gray60;

// Money
$color-insurance: #00B7BA;
$color-insurance-dark: #28CED0;
$color-money-mgmt: #fda929; // suning, shift a little bit from brand primary
$color-invest: #D24140;
$color-spend: #FF4500;
$color-income: #61B329;
$color-transfer: $gray13;
$color-budget: #75b6e6;
$color-receipt: #45BAE5;
$color-is-not-track-spending: #e87689;
$color-is-track-spending: #8abe5e;

// card or thumbnail
$thumbnail-bg: transparent;

// nav tabs
$nav-tabs-border-color: lighten($brand-primary, 30%);
$nav-tabs-link-hover-border-color: lighten($brand-primary, 30%);
$nav-tabs-active-link-hover-bg: transparent;
$nav-tabs-active-link-hover-border-color: lighten($brand-primary, 30%);

// hidden
//$screen-xxs: 374px;


