/* Don't edit _sprites_svg.scss directly as it is genereated automatically by gulp
instead edit dev/css/images/sprite_svg.css 
loop through each icon, repeat times equal to the number of icon*/


     /* run only once, base icon rule, don't need repeat in the loop */
        .icon {
               background-image: url('/dev/images/sprite-68b73f5d.svg');
        } /* any code between first will only run once for the first one encounter in the loop*/

    .icon--arrow-up {
        width: 23px;
        height: 14px;
        background-position: 21.30718954248366% 23.026315789473685%;
    }


    
    .icon--backarrow {
        width: 25px;
        height: 26px;
        background-position: 72.64900662251655% 55.714285714285715%;
    }


    
    .icon--backwards {
        width: 25px;
        height: 26px;
        background-position: 72.64900662251655% 18.571428571428573%;
    }


    
    .icon--bankbook {
        width: 29px;
        height: 25px;
        background-position: 0 39.00709219858156%;
    }


    
    .icon--bankbook-report {
        width: 20.8px;
        height: 17.9px;
        background-position: 99.67783505154638% 14.179608372721136%;
    }


    
    .icon--budget {
        width: 29px;
        height: 25px;
        background-position: 19.727891156462587% 39.00709219858156%;
    }


    
    .icon--camera {
        width: 20.6px;
        height: 17.3px;
        background-position: 99.54954954954954% 26.160053799596504%;
    }


    
    .icon--category {
        width: 21.5px;
        height: 18.5px;
        background-position: 69.57928802588997% 71.1864406779661%;
    }


    
    .icon--celebrity {
        width: 21px;
        height: 26px;
        background-position: 70.7741935483871% 37.142857142857146%;
    }


    
    .icon--circle {
        width: 13px;
        height: 13px;
        background-position: 0 100%;
    }


    
    .icon--down-arrow {
        width: 10px;
        height: 6px;
        background-position: 93.19277108433734% 91%;
    }


    
    .icon--download {
        width: 17px;
        height: 24px;
        background-position: 14.465408805031446% 73.94366197183099%;
    }


    
    .icon--email {
        width: 18px;
        height: 15px;
        background-position: 85.25316455696202% 45.033112582781456%;
    }


    
    .icon--exchange {
        width: 29px;
        height: 25px;
        background-position: 0 56.737588652482266%;
    }


    
    .icon--facebook {
        width: 13.6px;
        height: 20px;
        background-position: 95.25862068965516% 38.49315068493151%;
    }


    
    .icon--feature-articles {
        width: 22px;
        height: 19px;
        background-position: 41.55844155844156% 71.42857142857143%;
    }


    
    .icon--feature-services {
        width: 21px;
        height: 21px;
        background-position: 99.80645161290322% 0;
    }


    
    .icon--forwards {
        width: 25px;
        height: 26px;
        background-position: 72.64900662251655% 0;
    }


    
    .icon--fund {
        width: 25px;
        height: 25px;
        background-position: 38.41059602649007% 56.737588652482266%;
    }


    
    .icon--gmail {
        width: 32.6px;
        height: 20px;
        background-position: 0 23.972602739726028%;
    }


    
    .icon--graph {
        width: 29px;
        height: 25px;
        background-position: 39.45578231292517% 39.00709219858156%;
    }


    
    .icon--index {
        width: 23px;
        height: 25px;
        background-position: 54.248366013071895% 56.737588652482266%;
    }


    
    .icon--info {
        width: 13.5px;
        height: 13.6px;
        background-position: 34.215384615384615% 22.965879265091864%;
    }


    
    .icon--insurance {
        width: 23px;
        height: 25px;
        background-position: 0 74.46808510638297%;
    }


    
    .icon--insurance-accident {
        width: 16px;
        height: 16px;
        background-position: 27.8125% 86.66666666666667%;
    }


    
    .icon--insurance-health {
        width: 16px;
        height: 16px;
        background-position: 84.18749999999999% 72%;
    }


    
    .icon--insurance-invest {
        width: 16px;
        height: 16px;
        background-position: 84.18749999999999% 61.333333333333336%;
    }


    
    .icon--insurance-life {
        width: 16px;
        height: 16px;
        background-position: 47.8125% 86.66666666666667%;
    }


    
    .icon--insurance-savings {
        width: 16px;
        height: 16px;
        background-position: 37.8125% 86.66666666666667%;
    }


    
    .icon--insurance-travel {
        width: 16px;
        height: 16px;
        background-position: 57.8125% 86.66666666666667%;
    }


    
    .icon--key {
        width: 13.1px;
        height: 12.5px;
        background-position: 76.05893186003684% 84.69055374592834%;
    }


    
    .icon--lightning {
        width: 14px;
        height: 25px;
        background-position: 53.7037037037037% 39.00709219858156%;
    }


    
    .icon--line {
        width: 24px;
        height: 22px;
        background-position: 26.31578947368421% 72.91666666666667%;
    }


    
    .icon--map {
        width: 16.9px;
        height: 19.5px;
        background-position: 97.23444374607165% 52.01365187713311%;
    }


    
    .icon--news {
        width: 23px;
        height: 23px;
        background-position: 0 90.9090909090909%;
    }


    
    .icon--novice {
        width: 16px;
        height: 18px;
        background-position: 96.68749999999999% 76.82432432432432%;
    }


    
    .icon--password {
        width: 18px;
        height: 22px;
        background-position: 85.25316455696202% 31.944444444444443%;
    }


    
    .icon--rate {
        width: 27px;
        height: 23px;
        background-position: 53.691275167785236% 21.888111888111887%;
    }


    
    .icon--receipt-lottery {
        width: 17px;
        height: 23px;
        background-position: 84.71698113207546% 16.083916083916083%;
    }


    
    .icon--scissors {
        width: 47px;
        height: 35px;
        background-position: 0 0;
    }


    
    .icon--search {
        width: 15.4px;
        height: 14.4px;
        background-position: 67.55915317559153% 85.75197889182058%;
    }


    
    .icon--signup {
        width: 12px;
        height: 12px;
        background-position: 83.53658536585365% 84.41558441558442%;
    }


    
    .icon--star {
        width: 19px;
        height: 18px;
        background-position: 98.53503184713375% 64.66216216216216%;
    }


    
    .icon--stock {
        width: 20px;
        height: 23px;
        background-position: 86.34615384615384% 0;
    }


    
    .icon--support {
        width: 29.7px;
        height: 31.3px;
        background-position: 54.682159945317835% 0;
    }


    
    .icon--tag {
        width: 21.5px;
        height: 18.5px;
        background-position: 55.663430420711975% 71.1864406779661%;
    }


    
    .icon--time {
        width: 21.5px;
        height: 18.5px;
        background-position: 14.88673139158576% 88.13559322033899%;
    }


    
    .icon--total-asset {
        width: 33px;
        height: 27px;
        background-position: 32.86713286713287% 0;
    }


    
    .icon--track-spending {
        width: 29px;
        height: 25px;
        background-position: 19.727891156462587% 56.737588652482266%;
    }


    
    .icon--view {
        width: 17px;
        height: 9px;
        background-position: 84.71698113207546% 52.86624203821656%;
    }


    
    .icon--vip {
        width: 18px;
        height: 13.9px;
        background-position: 97.91139240506328% 86.58777120315581%;
    }


