/* base */

html,
body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
}


ul {
    padding-left: 0;
}

/* sticky footer */

.sticky-content {
    flex: 1 0 auto;
    /*vertical align center*/
    display: flex;
    flex-direction: column; //    justify-content: center;
}



