//.table-list {
//    display: table;
//    img {
//        max-width: 100%;
//        max-height: 20px;
//        margin-right: 4px;
//      
//    }
//    .table-list__row {
//        display: table-row;
//    }
//    .table-list__cell-1 {
//        display: table-cell;
//        width: 160px;
//    }
//      .table-list__cell-2 {
//        display: table-cell;
//          width: 160px;
//    }
//}
body {
    font-family:      
    // Safari for OS X and iOS (San Francisco)
    -apple-system, // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont, // Windows
         San Francisco,
    "Segoe UI", // Android
    // Windows
    "微軟正黑體", "Microsoft JhengHei",
    "Roboto", // Basic web fallback
    "Helvetica Neue", Arial, sans-serif, // Emoji fonts
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    margin-top: 0;
}

.hot-articles__body {
    list-style-type: decimal;
}
li {
    list-style-type: none;
}


a {
    color: $gray13;
    transition: color .3s;
    &:hover {
        text-decoration: none;
        color: $brand-primary;
    }
}

.color-stock-rise {
    color: $color-invest;
}

.color-stock-decline {
    color: $color-money-mgmt;
}

.color-stock-normal {
    color: $color-insurance;
}

.hot-payment {
    .col-xs-6:nth-child(odd) {
        padding-right: 0;
    }
    .col-xs-6:nth-child(even) {
        padding-left: 0;
    }
    a {
        color: $gray46;
        transition: color .3s;
        &:hover {
            color: $brand-primary;
        }
    }
}

.current-receipt-flex {
    .text-w-imgs {
        font-size: 1.6rem;
    }
}
.text-w-imgs {
    display: flex;
    color: #757575;
  
    margin-bottom: 10px;
//    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
//        min-height: 40px;
//        margin-bottom: 5px;
//    }
    > img {
        max-width: 100%;
        max-height: 20px;
        margin-right: 4px;
    }

}

.kgi-bank {
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: center;
    color: #999;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 1.4;
    .kgi-bank__text {
        color: #14397d;
        @media screen and (min-width: $screen-sm) {
            display: inline-block;
            /* be sure to set height & width */
            width: 65px;
            text-indent: -99999px;
            background-image: url("/dev/images/kgi-bank.png");
            background-size: 65px 19px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.signUp {
    color: #5090FC;
    &:hover {
        color: lighten(#5090fc, 10%);
    }
}

.insurance {
    &-health {
        color: desaturate(#50BD2A, 30%);
    }
    &-savings {
        color: desaturate(darken(#F76D85, 10%), 40%);
    }
    &-travel {
        color: desaturate(darken(#1BB3EF, 5%), 20%);
    }
    &-accident {
        color: desaturate(#EF1424, 40%);
    }
    &-invest {
        color: desaturate(#FFD700, 40%);
    }
}

.account-detail-title {
    color: $gray60;
}

blockquote {
    border-left: 0;
    p {
        font-family: NotoSerifCJKtc-Black;
        font-size: 22px;
        color: #FFFFFF;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
        letter-spacing: 1px;
    }
    footer {
        float: right;
        font-family: NotoSerifCJKtc-Black;
        font-size: 16px;
        color: #FFFFFF;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
    }
}

.budget-num {
    font-size: 16px;
    color: darken($color-budget, 15%);
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    &.individual {
        vertical-align: inherit;
        text-decoration: none;
        font-weight: 400;
    }
}

.icon-receipt-keyin {
    background-image: url(/dev/images/icon_receipt-keyin.svg);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 17px;
    position: relative;
    top: -1px;
    left: -1px;
}

.common-template {
    li {
        padding: 5px 20px;
        background: #F4F4F4;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 4px;
        display: inline-block;
        cursor: pointer;
        color: #545454;
        font-size: 13px;
        margin-bottom: 10px;
        margin-right: 5px;
    }
    &.income {
        li {
            background: lighten($color-income, 52%);
        }
    }
    &.spend {

        li {
            background: lighten($color-spend, 46%);

        }
    }
}

.color-spend {
    color: $color-spend;
}

.color-income {
    color: $color-income;
}
