//
body {
    @media screen and (max-width: $screen-sm) {
        cursor: pointer;
    }
}


// icons accompaning with text
.icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    &.icon--facebook {
        margin-right: 6px;


    }
}


.px-0 {
    @media screen and (min-width: $screen-sm) {
        padding-left: 0;
        padding-right: 0;
    }
}

.px-3 {
    padding-right: .8em !important;
    padding-left: .8em !important;
}

@media screen and (max-width: $screen-sm) {
    .text-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 44px;
        display: inline-block;
        &.longer {
            width: 120px;
        }
    }

}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.va-middle {
    display: inline-block;
    vertical-align: middle;
}

.mx-button {
    margin-left: -40px;
}

.division--vertical {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 1px;
    background-color: rgba(#fff, .3);
    margin-right: 0px;
}

.vip {
    .division--vertical {
        background-color: #4086C8 !important;
    }
}

.empty-icon {
    width: 18px;
    height: 22px;
    display: inline-block;
    margin-right: 3px;
}

.my-1 {
    margin-bottom: .5em !important;
}

.my-3 {
    margin-bottom: 1.5em !important;
    &.checkbox-pwd-container {
        margin-bottom: 1em;
    }
}

.mt-3 {
    margin-top: 1.5em !important;
}

.my-5 {
    margin-bottom: 3em !important;
}


.my-login {
    margin: 160px auto 70px;
}

.l-signup {
    @extend .my-login;
}

.my-vip {
    @extend .my-login;
}

//.hidden-xxs {
//    @media (max-width: 374px) {
//        display: none !important;
//    }
//}
.container.fix-little-content-width,
.container-fluid.fix-little-content-width {
    @media screen and (max-width: $screen-sm) {
        width: 100%;
    }
}

.container.padding-small {
    @media screen and (max-width: $screen-sm) {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.container.padding-0 {
    @media screen and (max-width: $screen-sm) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.flex-container {

    @media (min-width: 767px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    &::before,
    &::afoter {
        box-sizing: border-box;
    }
}

.flex-row {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    //    margin-right: -15px;
    //    margin-left: -15px;
}

.flex-col-md-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 992px) {
        -ms-flex: 0 0 65.666667%;
        flex: 0 0 65.666667%;
        max-width: 65.666667%;
    }
}

.flex-col-sm-7 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 768px) {
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}

.flex-col-sm-5 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 768px) {
        -ms-flex: 0 0 41.66666%;
        flex: 0 0 41.66666%;
        max-width: 41.66666%;
    }
}

.flex-col-md-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    @media (min-width: 992px) {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

}

// have bug
//.modal.slide-from-btm.fade .modal-dialog {
//  transform: translate3d(0, 100vh, 0);
//}
//
//.modal.slide-from-btm.in .modal-dialog {
//  transform: translate3d(0, 0, 0);
//}
