/* margins between o_content-box*/

.home_first-row {
    margin-top: 75px;
    @media screen and (min-width: $screen-sm) {
        margin-top: 100px;
    }
}

.login_first-row {
    margin-top: 135px;
    @media screen and (max-width: $screen-sm) {
        margin-top: 115px;
    }
}

#home {
    .o_content-box {
        border-top: none;
    }
}

.o_content-box {
    border-top: 1px solid rgba($brand-primary,.25);
    background-color: #fff;
    padding: 18px 15px;
    margin-bottom: 10px;
    /* sketch css: */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    &.home_full-height-content-box {
        padding-top: 0;
        padding-bottom: 0;
        @media screen and (min-width: $screen-md) {
            padding-right: 0;
        }
        .bs-full-height-column-2 {
            @media screen and (min-width: $screen-md) {
                padding-right: 0px;
            }
        }

    }
    &.vip {
        text-align: center;
        padding: 54px 20px 64px;
        position: relative; // hide square label box overflow the content box
        overflow: hidden;
    }
}

.label--corner {
    position: absolute;
    top: -50px;
    left: -50px;
    transform: rotate(-45deg);
    background-color: red;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    width: 100px;
    height: 100px;
    padding-bottom: 5px; // align center and bottom
    display: flex;
    align-items: flex-end;
    justify-content: center;
    > .animated {

        //        animation-iteration-count: infinite;
    }

}

.animated {
    font-weight: normal;
}

.receipt-a-payment {
    padding-bottom: 0;
}

.current-receipt-flex {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: $screen-xs) and (max-width: $screen-lg) {
         justify-content:flex-start;
    }
    .text-w-imgs {
     position: relative;
        top: 4px;
    }
    button {
        margin-left: 10px;
    }
}

// celebrity
// make five column for bootstrap
@media screen and (min-width: $screen-md) {
    div.col-sm-7.five-three {
        width: 60% !important;
    }

    div.col-sm-5.five-two {
        width: 40% !important;
    }
}

.container.mx-celebrity {
    @media screen and (max-width: $screen-md) {
        //        margin-left: 0;
        //        margin-right: 0;
    }
}

.current-receipt {
    margin-bottom: 20px;
}





@media screen and (max-width: $screen-md) {
    .my--mobile {
        margin-bottom: 30px;
    }
}
