/*footer*/

footer {
    color: #fff;

    li {
        font-size: 14px;
        color: #e8e8e8;
    }
    .footer_brand {
        > img {
            max-width: 160px;
            margin-top: 20px;
            @media screen and (max-width: $screen-sm) {
                margin-left: auto;
                margin-right: auto;
            }
        }
      
    }
}

.footer-heading {
    font-size: 18px;
    color: #191919;
    font-family: source-han-serif-sc, serif;
    font-style: normal;
    font-weight: 900;
}


.footer-btm {
    background-color: #3C3C3C;
    color: rgba(#fff, .6);
    font-weight: 300;
    padding: 10px;
    font-size: 11px;
   
}

.footer-top {
    background-color: $brand-primary;
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (max-width: $screen-sm) {
        text-align: center;
    }
}

.footer__links {
    a {
        color: #3e3e3e;
        font-size: 16px;
        line-height: 1.8;
        &:hover {
            color: lighten(#3e3e3e, 15%);
        }
    }    
    &.left {
//        text-align: right;
    }
    &.right {
//        text-align: left;
    }
}
