/*header across all money pages*/

.navbar {
    //    @include box-shadow(0 1px 11px 0 rgba(0,0,0,.1));
    //    border: 1px solid rgba(0,0,0,.03);
    @media screen and (min-width: $screen-sm) {
        border: none;
    }
    border-top: 4px solid $brand-primary !important; //    @include box-shadow(0px 1px 1px 0px rgba(0, 0, 102, 0.1));
    min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
    @media screen and (min-width: $screen-sm) {
        min-height: $navbar-height + 20px;
    }
    &-default {
        background-color: $navbar-default-bg;
    }
    &-brand {
        @media screen and (min-width: $screen-sm) {
            height: $navbar-height + 20px; // make logo larger
        }
        > img {
            max-width: 100%; // logo
            max-height: 20px;
            position: relative;
            top: 5px;
            @media screen and (min-width: $screen-sm) {
                max-height: 28px;
                position: relative;
                top: -3px;
            }
        }
    }
    &-collapse {
        @media screen and (max-width: $screen-sm) {
            background-color: $dropdown-bg-color;
        }
    }
}


// hamburger menu icon
.navbar-default {
    .navbar-toggle {
        border-color: transparent;
        &:hover,
        &:focus {
            background-color: transparent;
        }
        .icon-bar {
            background-color: $navbar-default-toggle-icon-bar-bg;
        }
    }

}


.m_brand {
    .brand__logo {
        padding-right: 0;
        float: none; // make divs's vertical align middle + inline-block works
        display: inline-block;
        vertical-align: middle;
        > img {
            margin-top: -3px;
            @media screen and (min-width: $screen-sm) {
                margin-top: 12px;
            }
        }
    }
    .brand__mascot {
        display: inline-block;
        vertical-align: middle;
        > img {
            max-width: 100%;
            max-height: 30px;
            @media screen and (min-width: $screen-sm) {
                max-height: 40px;
            }
        }
    }
    .brand__titles {
        display: inline-block;
        vertical-align: middle;
        .brand__title {
            color: $brand-primary;
            font-size: 12px;
            @media screen and (min-width: $screen-sm) {
                font-size: 16px;
            }
        }
        .brand__subtitle {
            color: $gray60;
            font-size: 10px;
            @media screen and (min-width: $screen-sm) {
                font-size: 11px;
            }
        }
    }
}


// navs top link to login/signup for header 
.icon__login-container {
    > a:first-child {
        //        padding-left: 0;
        //        padding-right: 3px;
    }
    i {
        height: 16px;
        color: #b9b9b9;
        @media screen and (max-width: $screen-sm) {
            color: #797979;
            display: inline-block;
            margin-top: -4px;
        }
    }
    > a:last-child {
        padding-left: 3px;
    }
}

.nav {
    > li {
        > a {
            display: inline-block;
        }
    }
}

// nav bottom text link styles
.navbar-nav {
    &.nav-top {
        // make nav-top in mobile view is justified
        text-align: justify;
        &::after {
            content: "";
            display: inline-block;
            width: 100%;
        }
        @media screen and (min-width: $screen-sm) {
            font-size: 12px;
        }
        @media screen and (max-width: $screen-sm) {
            border-top: 1px solid #666666;
            padding-top: 5px;
        }
        > li {
            display: inline-block;
            vertical-align: middle;
        }
        > li:first-child > a {
            color: $brand-primary;
            &:hover,
            &:focus {
                color: lighten($brand-primary, 10%);
            }
        }
        > li > a {
            @media screen and (max-width: $screen-sm) {
                color: lighten($navbar-default-link-color, 60%);
            }
        }
        > li > a {
            .caret {
                color: $gray13;
                @media screen and (max-width: $screen-sm) {
                    color: #fff;
                }
            }
            &:hover {
                .caret {
                    color: $brand-primary;
                }
            }
        }

        > li:first-child {
            margin-left: 7px;
        }
        > li:last-child {
            margin-right: 17px;
        }
    }
    &.nav-bottom {
        > li > a {
            color: lighten($navbar-default-link-color, 60%); //            transition: 0.2s border-bottom;
            @media screen and (min-width: $screen-sm) {
                color: $navbar-default-link-color;
                font-size: 16px;
                border-right: 1px solid #DADADA;
                padding-top: 0;
                padding-bottom: 0;
            }
            &:hover,
            &:focus {
                color: $navbar-default-link-hover-color;
                background-color: $navbar-default-link-hover-bg; // a trick to add a span making border width equal to text width when hover
                @media screen and (min-width: $screen-sm) {
                    .nav__border {
                        padding-bottom: 3px;
                        border-bottom: 2px solid $brand-primary;
                    }
                }

            }
        }
        > li:last-child > a {
            padding-right: 0;
            border-right: none;
        } // collapse menu styles
        .nav__border {
            padding-left: 5px;
            border-left: 2px solid transparent;
            @media screen and (min-width: $screen-sm) {
                padding-left: 0;
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color: lighten($navbar-default-link-active-color, 100%);
                @media screen and (min-width: $screen-sm) {
                    color: $brand-primary;
                    .nav__border {
                        padding-bottom: 3px;
                        border-bottom: 2px solid $brand-primary;

                    }
                }
                background-color: transparent;
                .nav__border {
                    border-left: 2px solid $brand-primary;
                    @media screen and (min-width: $screen-sm) {
                        border-left: none;
                    }
                }
            }
        }
        > .active.arrow-down > a {
            &,
            &:hover,
            &:focus {
                color: lighten($navbar-default-link-active-color, 100%);
                @media screen and (min-width: $screen-sm) {
                    color: $brand-primary;
                    .nav__border {
                        padding-bottom: 3px;
                        border-bottom: 2px solid $brand-primary;
                        &::after {
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid #f00;
                            position: absolute;
                            top: 23px;
                            left: 60%;
                            transform: translateX(-100%);
                        }
                    }
                }
                background-color: transparent;

            }
        }
        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: $navbar-default-link-disabled-color;
                background-color: $navbar-default-link-disabled-bg;
            }
        }
    }
}


// layout: make bootstrap navbar with two rows on the right
@media screen and (min-width: $screen-sm) {
    .nav-top {
        margin-right: -453px;
        margin-top: 6px;
    }

    .nav-bottom {
        float: right;
        margin-top: 48px;

    }
    .navbar-nav {
        > li > a {
            padding-top: 7px;
            padding-bottom: 7px; // make clickable area smaller
        }
    }
}


.icon__login {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #ccc;

}

.nav-top > li > a {
    @media screen and (max-width: $screen-xs) {
        padding-left: 7px !important;
        padding-right: 7px !important;
    }
}

.navbar__top-link {
    display: inline-block;
    vertical-align: middle;

}

// make navbar collapse menu height in mobile higher
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: $navbar-collapse-max-height;
}

// animated hamburger menu
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}


// horitzontal scrollable nav for main nav items
.nav-scroll-container {
    background-color: #f3f3f3;
    box-shadow: inset 0 2px 5px -2px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #cecece !important;
    border-bottom: 1px solid #fff;
    top: 74px;
    min-height: inherit;
    z-index: 1020;
    @media screen and (max-width: $screen-sm) {
        top: 54px;
    } //    @media screen and (max-width: $screen-md) {
    //        max-width: 100%;
    //        height: 2.5rem;
    //        margin-top: .25rem;
    //        overflow: hidden;
    //        font-size: .875rem;
    //    }
}

.nav-scroll__list {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start;
    margin-bottom: 0;
    
    a {
        color: #656565;
        padding: 10px 14px;
        display: inline-block;

        &:hover {
            text-decoration: none;
            background-color: lighten(#DDDDDD, 5%); // make hover has top box shadow
            box-shadow: inset 0 2px 5px -2px rgba(0, 0, 0, 0.2);

        }
        &.active {
            background-color: #DDDDDD; // make active has top box shadow
            box-shadow: inset 0 2px 5px -2px rgba(0, 0, 0, 0.2);
        }
        &:focus {
            text-decoration: none;
        }
    } //      padding-bottom: 2rem;
    //    overflow-x: auto;
    //    white-space: nowrap;
    //    }
}


//
