.article_first-row {
    @extend .home_first-row;
}

.article-breadcrumb {
    background-color: transparent;
    margin-bottom: 10px;
    padding-left: 2px;
    a {
        color: $brand-primary;
    }
    > li + li:before {
        color: hsl(0, 0%, 92%);
    }
}

.article__meta {
    font-size: 1.2rem;
    color: hsl(0, 0%, 60%);
    margin-bottom: 8px;
    &-source {
        color: #363636;
        font-size: 1.4rem;
        font-weight: 500;
        background-color: #f4f4f4;
        border: 1px solid darken(#f4f4f4, 2%);
        padding: .2rem .5rem;
    }
    &-time {
        &::before {
            content: '| ';
            padding: 3px;
            color: #e3e3e3;
        }
    }
    &-author {
        font-weight: 300;
    }
    &-browse-times {
        font-weight: 300;
        float: right;
    }
}

.article {
    &__title {
        font-size: 2.4rem;
    }
    &__img {
        /* 3:2 Aspect Ratio */
        background-color: transparent;
        position: relative;
        width: 100%;
        padding-top: 66.66%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url('/dev/images/img-thumbnail-13.jpg'); //        width: 100%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    &__toolbar {
        padding: 12px 0 10px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        border-bottom: 1px solid #F2F2F2;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    &__text {
        color: $gray13;
        font-size: 1.6rem;
        line-height: 1.8;
        font-weight: 400;
        > p {

            &:first-child {
                &::first-letter {
                    float: left;
                    font-size: 250%;
                    margin: -.2em .4em 0 0;
                    border: 3px solid rgba(186, 186, 186, .2);
                    padding: 2px 12px;
                    line-height: 1.5;
                    background-color: transparent;
                }
            }

        }
        padding-top: 20px;
        padding-bottom: 6px;
    }
}

.font-size-selector {
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    a {
        display: inline-block;
        width: 44px;
        height: 38px;
        line-height: 38px;
        @media screen and (max-width: 375px) {
            width: 25px;
            height: 24px;
            line-height: 24px;
        }
        color: #B3B3B3;
        text-align: center;
        border-left: 1px dashed hsl(0,
        0%,
        93%);
        &:first-child {
            font-size: 14px;
            border-left: none; //            padding: 5px 0 34px;
        }
        &:last-child {
            font-size: 18px; //            padding: 4px 0 35px;
            position: relative;
            top: 1px;
        }
    }

}

.social-share {
    margin-bottom: 0;
    li {
        float: left;
        margin-right: 5px;
    }
    li > a {
        display: inline-block;
        width: 40px;
        height: 40px;
        @media screen and (max-width: 375px) {
            width: 34px;
            height: 34px;
        }
        border-radius: 50%;
        background-color: #ccc;
    }
    .fb-like {
        background-color: transparent;
        background-image: url('/dev/images/img_fb-like.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;

    }
    .fb-share {
        text-align: center;
        font-size: 9px;
        color: rgba(255, 255, 255, .8);
        background: #4367B2;
        box-shadow: 0 0 0 2px rgba(129, 129, 129, 0.20);
    }
    .line-share {
        background: #00C200;
        text-align: center;
        box-shadow: 0 0 0 2px rgba(129, 129, 129, 0.20);
    }
    .member-bookmark {
        background: $brand-primary;
        text-align: center;
        font-size: 9px;
        color: rgba(255, 255, 255, .8);
        box-shadow: 0 0 0 2px rgba(129, 129, 129, 0.20);
    }
    .back-to-top {
        background: #E6E6E6;
        text-align: center;
        box-shadow: 0 0 0 2px rgba(129, 129, 129, 0.20);
    }
    .icon.icon--facebook,
    .icon.icon--star {
        margin-right: 0;
    }
    .social-share_position_adjust {
        &_fb {
            position: relative;
            top: 5px;
            left: 0px;
        }
        &_line {
            position: relative;
            top: 10px;
            left: 2px;
        }
        &_member-bookmark {
            position: relative;
            top: 7px;
            left: 0px;
        }
        &_back-to-top {
            position: relative;
            top: 10px;
            left: 2px;
        }
    }
}

.my-activity {
    &__img {
        background-image: url('/dev/images/img-thumbnail-14.jpg'); //        width: 100%;
        /* 3:2 Aspect Ratio */
        background-color: transparent;
        position: relative;
        width: 100%;
        padding-top: 66.66%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

.ads-google {
    max-width: 300px;
    max-height: 250px;
}

.heading_border_left {
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    > span {
        border-left: 4px solid #E1E1E1;
        padding-left: 6px;
    }
}

.recommend-tool {
    margin-bottom: 2em;
    &__img {
        width: 100px;
        height: 100px;
        float: left;
    }
    &__title {
        font-size: 1.8rem;
        margin-bottom: .5em;
        text-align: left;

    }
    &__text {
        margin-left: 120px;
        font-size: 1.4rem;
        color: #808080;
        text-align: right;
        button {

            padding: 5px 12px;
            border-radius: 4px;
        }
        &.flex-row {
            @media screen and (max-width: $screen-sm) {
                div:first-child {
                    width: 100%;
                }
                justify-content: flex-end;
            }
        }
    }
    &__intro {
        text-align: left;
        li {
            line-height: 1.7;
            &::before {
                content: "\e006";
                position: relative;
                top: 1px;
                font-size: 11px;
                padding-right: 6px;
                display: inline-block;
                font-family: 'Glyphicons Halflings';
                color: #d6d6d6;
                font-style: normal;
                font-weight: normal;
            }
        }
    }
}

.hot-articles__body > li {
    counter-increment: li;
    line-height: 1.2;
    &::before {
        content: counter(li)".";
        color: $brand-primary;
        font-size: 2.4rem;
        margin-right: 6px;
        position: relative;
        top: 2px;
    }

}

.related-articles,
.hot-articles,
.my-activity {
    margin-bottom: 2em;
}

.related-articles__body > li {
    text-indent: .2em;
}

.article-aside {
    margin-top: 88px;
    @media screen and (max-width: $screen-sm) {
        margin-top: 0;
    }
    .heading_border_left {
        margin-bottom: 3px;
    }
    .related-articles__body,
    .hot-articles__body {
        line-height: 2;
        > li > a {
            color: $gray46;
            font-weight: 500;

            &:hover {
                color: $brand-primary;
            }
        }
    }
    &__my-activity {
        .my-activity__title {
            font-size: 1.6rem;
        }
        .my-activity__description {
            font-size: 1.2rem;
            color: #939393;
        }
        .my-activity__img {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            margin-top: 12px;
        }
        .my-activity__meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            time {
                font-size: 1.2rem;
                color: hsl(0, 0%, 60%);
                font-weight: 300;
            }
            button {

                @extend .btn-ghost;
                padding: 5px 10px;
                border-radius: 4px;
            }
        }
    }
}
