.insurance-profile {
    @extend .vault-profile;
}

.insurance-profile__banner {
    background-image: url("/dev/images/img_banner-insurance.png");
    padding: 80px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .01)), to(rgba(0, 0, 0, .1))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .12)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
        background: -moz-linear-gradient(top, rgba(255, 255, 255, .01), rgba(0, 0, 0, .1)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
        background: linear-gradient(top, rgba(255, 255, 255, .01), rgba(0, 0, 0, .1)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    }
    @media screen and (max-width: $screen-sm) {
        padding: 40px 0;
    }
    &-text {
        text-align: left;
        padding-left: 5.0rem;
        > p:first-child {
            font-size: 2.4rem;
            color: #1DF1F1;
            font-weight: 700;
        }
        > p:last-child {
            font-size: 1.8rem;
            color: #fff;
            font-weight: 300;

        }
    }
}


.insurance-search {
    width: 60%;
    margin: auto;
    @media screen and (max-width: $screen-sm) {
        width: 100%;
    }
    &__hot-label {
        color: #BDBDBD;
        font-size: 1.4rem;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    &__hot-hastag {
        margin-bottom: 24px;
        > li {
            float: left;
            margin-right: 16px;
            margin-bottom: 8px;
            > a {
                color: #999999;
                text-decoration: underline;
            }
        }

    }
}


.table-insurance-overview-container {
    margin-bottom: 24px;
    .table-insurance-overview {
        margin-bottom: 10px;
        > thead > tr:first-child > th {
            background-color: $color-insurance-dark;
            border-bottom: 0;
            color: #fff;
        }
        > thead > tr:nth-child(2) > th {
            background-color: #F5F5F5;
            border-bottom: 0;
            text-align: center;
        }
        > tbody > tr > td {
            text-align: center;
            border-bottom: 1px solid #EDEDED;
        }
    }
    .table-hover {
        > tbody > tr:hover {
            background-color: lighten($color-insurance-dark, 45%);
            cursor: pointer;
        }
    }
}


.insurance-feature-article-container {
    margin-bottom: 24px;
}

.insurance-feature-article {
    &__img {
        background-image: url('/dev/images/img-thumbnail-13.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: red;
        height: 200px;
        @media screen and (max-width: $screen-sm) {
            height: 300px;
            margin-bottom: 12px;
        }
        @media screen and (max-width: 414px) {
            height: 210px;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .meta {
            color: #AEAEAE;
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}


.insurance-video-box {
    margin-bottom: 24px;
    .heading3-description {
        margin-top: 6px;
        margin-bottom: 6px;
    }
}

.heading3 {
    font-size: 16px;
    color: $gray13;
    margin: 0;
    margin-bottom: 8px;
    &-description {
        color: $gray60;
        font-size: 13px;
    }
}

.insurance-video-box {
    width: 48%;
    display: inline-block;
    @media screen and (max-width: $screen-sm) {
        width: 100%;
    }
}

.swiper-container {
    &.testimonial {
        width: 100%;
        height: 200px;
        border: 1px solid #EEEEEE;
        padding: 3px 8px;
        border-radius: 6px;
        .swiper-slide {
            display: flex;
            align-items: center;
        }
        margin-bottom: 24px;
    }
    .testimonial__img {
        flex-basis: 100px;
        height: 100px;
        flex-shrink: 0;
    }
    &.insurance-activity {
        position: relative;
        max-width: 300px;
        img {
            object-fit: cover;
        }
        .insurance-activity__heading {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px 10px;
            background-color: rgba(0,0,0,.5);
            color: #fff;
            margin: 0;
            font-size: 1.6rem;
            text-align: center;
        }        
    }
    
}

.testimonial {
    &__img {
        background-image: url('/dev/images/img_thumbnail-testmonial-1.png');
        background-size: cover;
        border-radius: 50%;
        border: 2px solid rgba(#ccc, .5);
    }
    &__text {
        padding: 0 10px;

    }
    &__name {
        color: #909090;
        font-size: 1.6rem;
        margin-bottom: 4px;
    }
    &__title {
        color: #C9C9C9;
        font-size: 1.4rem;
        margin-bottom: 4px;
    }
    &__quote {
        font-size: 1.4rem;
        color: #525252;
    }
}

.insurance-download {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    &__img {
     flex-basis: 100px;
        height: 100px;
        flex-shrink: 0;
        background-image: url('/dev/images/img_thumbnail-insurance-keeper.png');
        background-size: cover;
        text-align: center;
        .heading3 {
            color: $color-insurance-dark;
            margin-bottom: 4px;
            position: relative;
            top: -20px;
            font-size: 1.4rem;
        }
        p {
            color: #737373;
            font-size: 1.2rem;
               position: relative;
            top: 80px;
        }
        
    }
    &__text {
        padding: 0 10px;
        .heading3 {
            color: $color-insurance-dark;
        }
        p {
            color: #878787;
        }
    }
}

.insurance-support {
    a {
        text-decoration: underline;
        color: #6B6B6B;
    }
}

.insurance-footernote {
    margin-top: 16px;
    text-align: center;
    p:first-child {
        font-size: 1.2rem;
        color: #999999;
        margin-bottom: 5px;
    }
    p:last-child {
        font-size: 1.2rem;
        margin-bottom: 0;
        color: #b3b3b3;
    }
}

