#mgmt-webview {
    .nav-scroll-container {

        top: 0;
    }
    .nav-pills {
        margin-top: 50px;
    }
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .media_heading2 {
        margin-top: 10px;
    }
    .media__heading {
        color: $gray13;
    }
    .media__source {
        @extend .media__date;
    }
    
    .m_media {
        margin-bottom: 0;
    }
    .o_content-box {
        padding: 10px 8px;
        margin-bottom: 10px;
    }
    .media__photo {
        .media__photo-label {
            top: 0px;
        }
    }
    .arrow-right {
        top: 11px;
    }
    .o_content-box {
        position: relative;
        &__label {
            position: absolute;
            top: 4px;
            left: -8px;
            font-size: 11px;
            font-style: italic;
            padding-left: 8px;
            padding-right: 10px;
            font-weight: 300;
            color: #fff;
            background-color: #FFB366;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            z-index: 3;
        }
        .arrow-right {
            top: 15px;
        }
    }
}

.banner-webview {
    margin-top: 10px;
            padding-top: 10px;
border-top: 1px dashed #EBEBEB;
    margin: auto;
}

.m_media--flex {
    display: flex;
      margin-top: 10px;
        padding-top: 10px;
border-top: 1px dashed #EBEBEB;
    

    img {
        width: 102px;
        height: 63px;
        object-fit: cover;
        margin-right: 5px;
    }
    .m_media-body--flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

    }
    .media__heading {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
    }
    .media__meta {
        display: flex;
         justify-content: space-between;
        line-height: 1;
      font-size: 11px;
        color: #afafaf;
    }

//    .media__browse-times {
//        margin-bottom: 0;
//
//    } //    .media__source {
    //        float: right;
    //        font-size: 11px;
    //        color: #AFAFAF;
    //        margin-bottom: 0;
    //    }
}
