.vault-profile.o_content-box {
    padding: 0 0 10px 0;
}

.vault-profile__banner {
    background-image: url("/dev/images/img-vault-banner.jpg");
    padding: 80px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .01)), to(rgba(0, 0, 0, .1))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .12)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
        background: -moz-linear-gradient(top, rgba(255, 255, 255, .01), rgba(0, 0, 0, .1)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
        background: linear-gradient(top, rgba(255, 255, 255, .01), rgba(0, 0, 0, .1)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));


    }
    @media screen and (max-width: $screen-sm) {
        padding: 40px 0;
    }
}

.vault-profile--bottom {
    height: 53px;
    position: relative;
    .vault-profile__photo {
        position: absolute;
        top: -40px;
        left: 20px;
        img {
            border: 3px solid #fff;
            border-radius: 2px;
        }
    }
    .vault-profile__name {
        position: absolute;
        top: 10px;
        left: 106px;
        font-size: 16px;
        font-weight: bold;
    }
    .vault-profile__stats {
        position: absolute;
        top: -29px;
        right: 10px;
        > a {
            display: inline-block;
            width: 57px;
            height: 57px;
            line-height: 36px;
            text-align: center;
            /* Oval 2: */
            background: rgba(225, 225, 225, 0.70);
            border: 2px solid rgba(255, 255, 255, 0.50);
            border-radius: 50%;
            color: $gray13;
            font-weight: bold;
        }
        > a:first-child {
            margin-right: 5px;
            &::after {
                content: "天";
                position: absolute;
                top: 20px;
                left: 22px;
                color: $gray60;
                font-weight: normal;
            }
        }
        > a:nth-child(2) {
            &::after {
                content: "筆";
                position: absolute;
                top: 20px;
                left: 88px;
                color: $gray60;
                font-weight: normal;
            }
        }
    }
}

.progress-bar_budget-remain {
    display: inline-block;
    width: 30px;
    height: 8px;
    transform: rotate(-90deg);
    margin-bottom: 0;
}

//.total-asset-balance_container {
//    margin-bottom: 150px;
//}
//
//.total-asset-balance__bar {
//    position: relative;
//    .span {
//        display: inline-block;
//        vertical-align: middle;
//        position: absolute;
//        left: 172px;
//        background-color: #F2F2F2;
//    }
//    .progress-bar--left {
//        display: inline-block;
//        width: 100px;
//        height: 20px;
//        background-color: transparent;
//        vertical-align: middle;
//        position: absolute;
//        left: 67px;
//        transform: rotate(-180deg);
//    }
//    .progress-bar--right {
//        display: inline-block;
//        width: 100px;
//        height: 20px;
//        background-color: transparent;
//        vertical-align: middle;
//        position: absolute;
//        left: 205px;
//    }
//    &.second {
//        top: 20px;
//    }
//    &.third {
//        top: 40px;
//    }
//
//}
.total-asset-balance-heading_container {
    display: flex;
    width: 95%;
    margin: auto;
    .total-asset-balance-heading {
        &.left {
            width: 100%;
            height: 25px;
            line-height: 25px; //            background-color: #ccc;
            text-align: right;
        }
        &.placeholder {
            background-color: transparent;
            width: 30%;
            height: 25px;
            line-height: 25px;
            text-align: center;
        }
        &.right {
            width: 100%;
            height: 25px;
            line-height: 25px; //             background-color: #ccc;
        }
    }
}

.track-spending--mobile {
    padding: 15px;
}

.total-asset-balance {
    display: flex;
    width: 95%;
    margin: auto;
    &__span {
        background-color: #F2F2F2;
        width: 30%;
        height: 25px;
        line-height: 25px;
        text-align: center;
    }
    &__bar {
        width: 100%;
        height: 25px;
        &.left {
            margin-left: auto;
        }
        &.right {
            margin-right: auto;
        }
    }
    .progress {
        height: 25px;
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;

    }
    .progress-bar {
        line-height: 26px;
        box-shadow: none;
    }
    .progress-bar--left {
        transform: rotate(-180deg);

        .progress-bar {
            transform: rotate(180deg);
            background-color: darken(#5DD35A, 8%);
            text-shadow: 0 1px 4px rgba(0, 0, 0, 0.50);
            text-align: right;
            padding-right: 5px;
        }
    }
    .progress-bar--right {
        .progress-bar {
            background-color: desaturate(red, 10%);
            text-shadow: 0 1px 4px rgba(0, 0, 0, 0.50);
            text-align: left;
            padding-left: 5px;
        }
    }
}

.account-detail {
    position: relative;
    .total-asset-stat {
        position: absolute;
        top: 0;
        right: 0;
        .btn-vip {
            position: relative;
            top: -3px;
        }
    }
}


.receipt-month-switcher {
    font-size: 18px;
    color: $gray13;
    .icon {
        position: relative;
        top: 5px;
        left: 2px;
    }
    .backwards {
        background-color: $gray96;
        display: inline-block;
        width: 36px;
        height: 36px;
        vertical-align: middle;
        border-radius: 50%;
        transition: transform .2s;
        cursor: pointer;
      
        &:hover {
            transform: scale(1.15);
              background-color: lighten($color-receipt, 30%);
        }
    }
    .current-months {
        display: inline-block;
        vertical-align: middle;
    }
    .forwards {
        background-color: $gray96;
        display: inline-block;
        width: 36px;
        height: 36px;
        vertical-align: middle;
        border-radius: 50%;
        transition: transform .2s;
        cursor: pointer;
        &:hover {
            background-color: lighten($color-receipt, 30%);
            transform: scale(1.15);
        }
    }
}

.modal-dialog {
    @media screen and (min-width: $screen-sm) {
        width: 500px;
    }
}

.receipt {
    &-total {
        color: $gray13;
        font-size: 16px;
        span {
            color: $color-receipt;
        }
    }
    &-lottery-date {
        color: $color-spend;
        font-size: 13px;

        &::before {
            content: "* ";
            vertical-align: middle;
        }
        &::after {
            content: " *";
            vertical-align: middle;
        }

        &.expire {
            color: $gray60;
        }
    }
}
