.accordion-budget {
    .panel-default {
	border-color: hsl(0, 0%, 90%);
        >.panel-heading + .panel-collapse > .panel-body {
            border-top-color: hsl(0, 0%, 90%);
        }
}
    .panel-heading {
        padding: 0;
    }
    .panel-title {
        padding: 10px 15px;
        cursor: pointer;
        &.total {
            background-color: lighten($color-spend, 5%);
            color: #fff;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);

        }
    }
    img {
        margin-right: 3px;
    }
    a {
        color: $gray13;
        font-size: 14px;
    }
}

