.alert {
    &-lottery-win {
        text-align: center;
        a {
            text-decoration: underline;
        }
    }
    &-lottery-miss {
        text-align: center;
    }
    padding-top: 10px;
    padding-bottom: 10px;
    .alert-link {
      
    }
}
