// signup button in the header
.btn-vip {
    background-color: #DA413D;
    font-size: 12px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    color: lighten($navbar-default-link-color, 100%) !important;
    /* sketch gradients */
    background-image: linear-gradient(-180deg, #E34440 0%, #D23632 81%, #C62520 96%);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 8px 0 rgba(115, 115, 115, 0.25);
    border-radius: 3px;
    &:hover {
        border: 1px solid rgba(#fff, .5);
        background-image: linear-gradient(-180deg, lighten(#E34440, 5%) 0%, lighten(#D23632, 5%) 81%, lighten(#C62520, 5%) 96%);
        @media screen and (max-width: $screen-sm) {
            border: 1px solid rgba(#fff, .1);
        }
    }
    .icon--signup {
        margin-right: -4px;
    }
}

.btn-receipt {
    @extend .btn-vip;
    background-color: $color-receipt;
    /* Rectangle 17 Copy: */
    background-image: linear-gradient(-180deg, #56C4ED 0%, #45BAE5 52%, #33ACD9 100%);
    border-radius: 3px;
    &:hover {
        /* Rectangle 17 Copy: */
        background-image: linear-gradient(-180deg, #56C4ED 0%, #45BAE5 52%, #33ACD9 100%);

    }
}


.btn-ghost {
    background-color: transparent;
    border-color: $brand-primary;
    color: darken($brand-primary, 5%);
    text-shadow: none !important;
    transition: background-color .3s;
    &:hover {
        color: #fff;
        background-color: $brand-primary;
        border-color: lighten($brand-primary, 10%);
        border-color: darken($brand-primary, 10%);
        .icon-receipt-keyin {

            background-image: url(/dev/images/icon_receipt-keyin--hover.svg);


        }
    }
    &:active,
    &:focus,
    &:active:focus {
        color: darken($brand-primary, 10%);
        border-color: darken($brand-primary, 10%);
        background-color: transparent;
        box-shadow: none;
        .icon-receipt-keyin {

            background-image: url(/dev/images/icon_receipt-keyin.svg);


        }
    }

}

.btn-ghost--insurance--rec {
    @extend .btn-ghost;
    border-radius: 2px;
    border-color: $color-insurance-dark;
    color: darken($color-insurance-dark, 10%);
    &:hover {
        background-color: $color-insurance-dark;
        border-color: darken($color-insurance-dark, 3%);
    }
      &:active,
    &:focus,
    &:active:focus {
        color: darken($color-insurance-dark,10%);
        border-color: darken($color-insurance-dark,10%);
                background-color: transparent;

    }
       

}

.btn-ghost--insurance--round {
      @extend .btn-ghost;
    border-radius: 16px;
    padding: 4px 16px;
    display: block;
    margin: auto;
}

.btn-delete {
    color: #fff;
    /* sketch gradients */
    //    background-image: linear-gradient(-180deg, #E34440 0%, #D23632 81%, #C62520 96%);
    border: 1px solid lighten($color-spend, 25%);
    color: $color-spend; //    box-shadow: 0 5px 8px 0 rgba(115, 115, 115, 0.25);
    border-radius: 3px;
    background-color: transparent;
    transition: all .2s;
    &:hover,
    &:focus {
        color: #fff;
        /* sketch gradients */
        background-image: linear-gradient(-180deg, #f2605c 0%, #e24743 81%, #d93631 96%);
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0 5px 8px 0 rgba(115, 115, 115, 0.25);
        border-radius: 3px;
    }
    &:active {
        &:focus {
            color: #fff;
            /* sketch gradients */
            background-image: linear-gradient(-180deg, #f2605c 0%, #e24743 81%, #d93631 96%);
            border: 1px solid rgba(0, 0, 0, 0.05);
            box-shadow: 0 5px 8px 0 rgba(115, 115, 115, 0.25);
            border-radius: 3px;
        }
    }
}

.btn-add-common {
    position: relative;
    top: 3px;
    @extend .btn-primary;

}

.btn-circle {
    background-color: lighten($brand-primary, 10%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, .2);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-image: url('/dev/images/icon_plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    &:hover,
    &:focus {

        background-image: url('/dev/images/icon_plus.svg');
    }
}


.btn-secondary {
    color: #fff;
    font-size: 12px;
    /* sketch css */
    //font-family: PingFangTC-Medium;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);
    /* sketch css: */
    background-image: linear-gradient(-180deg, #FEA74E 0%, #FA9126 83%, #F3881A 98%);
    box-shadow: 0 5px 8px 0 rgba(115, 115, 115, 0.25);
    border-radius: 3px;
    &:hover,
    &:focus {
        color: #fff;
        background-image: linear-gradient(-180deg, lighten(#FEA74E, 5%) 0%, lighten(#FA9126, 5%) 83%, lighten(#F3881A, 5%) 98%);
    }
}

.btn-track-spending {
    color: #fff;
    font-size: 14px;
    /* sketch css */
    //font-family: PingFangTC-Medium;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);
    /* sketch css: */
    background-image: linear-gradient(-180deg, #FEA74E 0%, #FA9126 83%, #F3881A 98%);
    box-shadow: 0 5px 8px 0 rgba(115, 115, 115, 0.25);
    border-radius: 6px;
    width: 100%;
    padding: 8px 12px;
    &:hover,
    &:focus {
        color: #fff;
        background-image: linear-gradient(-180deg, lighten(#FEA74E, 5%) 0%, lighten(#FA9126, 5%) 83%, lighten(#F3881A, 5%) 98%);

    }
}

.btn-camera-group {
    width: 100%;
    margin-bottom: 15px;
    @media screen and (max-width: $screen-md) {
        max-width: 64px;
    }
    > button {
        width: 100%;
    }
}


.icon--camera {
    position: relative;
    top: -2px
}




.icon-confirm {
    background-image: url('/dev/images/plus-confirm.svg');
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    right: 5px;
    background-size: cover;
}




.btn-primary {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);
    /* sketch css: */
    background-image: linear-gradient(-180deg, #FEA74E 0%, #FA9126 83%, #F3881A 98%);
    box-shadow: 0 5px 8px 0 rgba(115, 115, 115, 0.25);
    border-radius: 3px;

    &:hover,
    &:focus {
        color: #fff;
        background-image: linear-gradient(-180deg, lighten(#FEA74E, 5%) 0%, lighten(#FA9126, 5%) 83%, lighten(#F3881A, 5%) 98%);
        border-color: transparent;
        outline: none;
    } // animated coin
    position:relative;
    transition: all .3s ease;
    &::before {
        content: "❤";
        position: absolute;
        left: 50%;
        color: #A12B2B;
        opacity: 0;
    }
    &.happy {
        &:before {
            opacity: 0;
            transform: translateY(-30px) rotateZ(5deg);
            animation: fly 1s ease;
        }
    }
}

.btn-insurance {
    @extend .btn-primary;
    background-image: linear-gradient(-179deg, #75CDCE 3%, #53C1C3 97%);
    box-shadow: 0 3px 7px 0 rgba(99, 52, 204, 0.21);
    border-color: #75cdce;
    &:active {
        &:focus {
            border-color: #75cdce;
        }
    }
    &:hover,
    &:focus {
            background-image: linear-gradient(-179deg, lighten(#75CDCE, 5%) 3%, lighten(#53C1C3, 5%) 97%);
   border-color: #75cdce;
    }
}

@keyframes fly {
    0% {
        opacity: 0;
        transform: translateY(-0px) rotateZ(15deg);
    }

    100% {
        opacity: 1;
        transform: scale(2) translateY(-20px) rotateZ(15deg);
    }
}

.btn-coupon {
    @extend .btn-secondary;
    padding: 8px 100px;
    border-radius: 6px;
    &.magazine {
        padding: 8px 16px;
        border-radius: 4px;
    }
}

.instant-experience {
    h2 {
        @media screen and (min-width: $screen-md) {
            text-align: center;
        }

    }
}

//.m_btn-get-started {
//    background-color: #96C267;
//    display: block;
//    height: 240px;
//    border-radius: 6px;
//    text-align: center;
//    position: relative;
//    span {
//        display: block;
//        position: absolute;
//        top: 50%;
//        left: 50%;
//        transform: translate(-50%, -50%);
//    }
//    img {
//        position: absolute;
//        bottom: 30px;
//        transform: translateX(-50%);
//    }
//
//}
.instant-experience {
    text-align: center;
    .m_heading2 {
        @media screen and (max-width: $screen-md) {
            display: none;
        }
    }
}

.m_btn-get-started {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 13px 36px;
    border: none;
    img {
        width: 18px;
        height: 18px;
        vertical-align: middle;
        @media screen and (min-width: $screen-md) {
            width: 32px;
            height: 32px;
        }
    }
    .btn-get-started__text {
        font-size: 16px;
        color: #FFFFFF;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);
        vertical-align: middle;
        &:after {
            content: "管理我的收支";

        }
        @media screen and (min-width: $screen-md) {
            &:after {
                content: "管理 \A 我的收支";
                white-space: pre;
            }
        }

    }
    /* sketch*/
    background-image: linear-gradient(-180deg,
    #FFBC56 2%,
    #FFB33F 44%,
    #FFA824 82%,
    #FF9D07 95%);
    border: 2px solid rgba(0,
    0,
    0,
    0.05);
    box-shadow: 0 5px 8px 0 rgba(115,
    115,
    115,
    0.25);
    border-radius: 6px;
    border: none;
    &:hover {
        background-image: linear-gradient(-180deg, lighten(#FFBC56, 4%) 0%, lighten(#FFB33F, 4%) 45%, lighten(#FFA824, 4%) 84%, lighten(#FF9D07, 4%) 98%); //border: 2px solid rgba(0,0,0,0.05);
    }
    box-shadow: 0 5px 8px 0 rgba(115,
    115,
    115,
    0.25);
    border-radius: 6px;
    @media screen and (min-width: $screen-md) {
        width: 60%;
        height: 240px;
        margin: auto;
        padding: 0;
        position: relative;
        .btn-get-started__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        img {
            position: absolute;
            bottom: 30px;
            transform: translateX(-50%);
        }
    }
}


// change color in section insurance 
.home_section-insurance {
    .m_btn-get-started {

        /* Rectangle 7: */
        background-image: linear-gradient(-180deg, #75CDCE 3%, #51CBCD 46%, #2BCACD 80%, #00C0C7 97%);
        border: 2px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0 5px 8px 0 rgba(115, 115, 115, 0.25);
        border-radius: 6px;
        border: none;


        &:hover {
            background-image: linear-gradient(-180deg, lighten(#75CDCE, 4%) 3%, lighten(#51CBCD, 4%) 46%, lighten(#2BCACD, 4%) 81%, lighten(#00C0C7, 4%) 97%);

        }
        box-shadow: 0 5px 8px 0 rgba(115,
        115,
        115,
        0.25);
        border-radius: 6px;
    }
    .btn-get-started__text {
        &:after {
            content: "管理我的保險";

        }
        @media screen and (min-width: $screen-md) {
            &:after {
                content: "管理 \A 我的保險";
                white-space: pre;
            }
        }
    }
}


// change color in section invest 
.home_section-invest {
    .m_btn-get-started {
        background-image: linear-gradient(-180deg, #E53A39 0%, #DB3736 44%, #CD2423 81%, #C31716 96%);

        &:hover {
            background-image: linear-gradient(-180deg, lighten(#E53A39, 7%) 0%, lighten(#DB3736, 7%) 44%, lighten(#CD2423, 7%) 81%, lighten(#C31716, 7%) 96%);

        }
    }
    .btn-get-started__text {
        &:after {
            content: "管理我的投資";

        }
        @media screen and (min-width: $screen-md) {
            &:after {
                content: "管理 \A 我的投資";
                white-space: pre;
            }
        }
    }
}

// button login
.btn-facebook {
    background-color: #3b559c;
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    display: block;
    font-size: 14px;
    &:hover {
        color: #fff;
        background-color: lighten(#3b559c, 6%);
    }

    &:focus {
        color: #fff;
    }

}

.login {
    .btn-block {
        width: 90%;
        margin: auto;

    }
}

.btn-gmail {
    background-color: #df4a30;
    color: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    display: block;
    font-size: 14px;
    &:hover {
        color: #fff;
        background-color: lighten(#df4a30, 6%);
    }
    &:focus {
        color: #fff;
    }

}

.social-login-container {
    button {
        margin-bottom: 20px !important;
    }
}

.btn-refresh {
    @extend .btn-common;
}

.btn-common {
    color: darken(deepskyblue, 10%);
    /* sketch gradients */
    //    background-image: linear-gradient(-180deg, #E34440 0%, #D23632 81%, #C62520 96%);
    border: 1px solid deepskyblue;
    text-shadow: none; //  box-shadow: 0 5px 8px 0 rgba(115, 115, 115, 0.25);
    border-radius: 3px;
    background-color: transparent;
    transition: background-color .3s;
    .icon-common {
        background-image: url('/dev/images/plus-normal.svg');
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -2px;
        right: 5px;
        background-size: cover;
    }
    &:hover,
    &:focus {
        color: #fff;
        /* sketch gradients */
        background-color: deepskyblue;
        border: 1px solid darken(deepskyblue, 5%);

        border-radius: 3px;
        .icon-common {
            background-image: url('/dev/images/plus-confirm.svg');

        }
    }
    &:active {
        &:focus {
            color: #fff;
            /* sketch gradients */
            background-color: deepskyblue;
            border: 1px solid rgba(0, 0, 0, 0.05);
            box-shadow: 0 5px 8px 0 rgba(115, 115, 115, 0.25);
            border-radius: 3px;
        }
    }
}

.btn-common.active {
    background-color: deepskyblue;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);

    .icon-common {
        background-image: url('/dev/images/checkmark.svg');
        width: 20px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -2px;
        right: 8px;
        background-size: cover;
    }
    &:hover,
    &:focus {
        background-color: deepskyblue;
        color: #fff;

    }
}
