
.card-img-top {
    border-top-left-radius: calc(.4em - 1px);
    border-top-right-radius: calc(.4em - 1px);
    width: 180px;
    height: 240px;
    border: 1px solid #ccc;
}

.thumbnail {
    width: 180px;
    margin: auto;
    border: none;
    text-align: center;
    margin-bottom: 20px;
    .caption {
        padding: 9px 0;
        h3 {
            margin-top: 0px;
            margin-bottom: 5px;
            font-size: 16px;
        }
        p {
            margin-bottom: 0px;
            margin-top: 0;
        }
        span {
            color: #9a9a9a;
            font-size: 12px;
        }
    }
}