.m_celebrity__item {
    text-align: center;
    margin: auto;
    @media screen and (max-width: $screen-sm) {
         margin-bottom: 40px;
    }
    img {
        display: block;
        margin: auto;
        border: 3px solid rgba(#FA9126, .2);
    }
    .celebrity__name,
    .celebrity__article {
        color: $gray13;
        font-family: source-han-serif-sc, serif;
        font-style: normal;
        font-size: 18px;
        font-weight: 900;
    }
    .celebrity__name {
        // text background decoration border
        border-bottom: 9px solid rgba(#FA9126, .17);
        display: inline-block;
        height: 20px;
    }
    .celebrity__description {
        color: #8F8F8F;
        font-size: 14px;
        @media screen and (min-width: $screen-sm) {
             min-height: 60px;
        }
    }
    hr {
        border: 1px dashed rgba(#fa9126, .3);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .celebrity__article {
        text-decoration: underline;
        text-underline-position: under;
        line-height: 1.4;
        margin-top: 10px;
    }
}
