.form-control {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 24px;
    border-radius: 0;
    background-color: transparent;

    &:focus {
        box-shadow: none;
    }
}

.track-spending-form {
    &.inside {
       
        padding: 10px 10px;
        border-bottom: none;
        .control-label {
            color: #2f2f2f;
        }
      
    }
    &.form-batchTrackSpending {
        border-bottom: none;
    }
}

.form-batchTrackSpending {
    input {
        margin-right: 3px;
        margin-bottom: 3px !important;
    }
}

.nav-search {
    display: inline-block;
}

// placeholder
.track-spending-form,
.fast-track-spending-input,
.track-spending-input,
.input-group-search,
.input-groups {
    input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: hsl(0, 0%, 70%);
        font-weight: 300;
        font-size: 14px;
    }
    input::-moz-placeholder {
        /* Firefox 19+ */
        color: hsl(0, 0%, 70%);
        font-weight: 300;
        font-size: 14px;
    }
    input:-ms-input-placeholder {
        /* IE 10+ */
        color: hsl(0, 0%, 70%);
        font-weight: 300;
        font-size: 14px;
    }
    input:-moz-placeholder {
        /* Firefox 18- */
        color: hsl(0, 0%, 70%);
        font-weight: 300;
        font-size: 14px;
    }
}

.random-code {
    
    @media screen and (max-width: $screen-md) {
            margin-bottom: 15px !important;

    }
    @media screen and (min-width: $screen-md) {
        width: 110px;
    }
}

.my-0-mobile {
	    @media screen and (max-width: $screen-md) {
            margin-bottom: 0px !important;

    }
}
.img-barcode {
    margin: auto;
    display: block;
    width: 90%;
    position: relative;
    left: 0px;
    height: 45px;
}
.receipt-month {
    font-size: 21px;
}

.dash {
    line-height: 2.4;
    color: #ccc;
}
.modal-close {
    position: relative; 
    top: 15px; 
    right: 15px; 
    z-index: 9999;
}

legend {
    border-bottom: none;
    margin-bottom: 0;
}
.fix-modal-offset {
    position: relative;
    left: 13px;
}

.receipt-meta {
    color: $gray13;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 1px;
}
.receipt-info {
    color: $gray60;
        font-size: 12px;
     letter-spacing: 3px;
}

.fast-track-spending-input,
.track-spending-input,
.input-group-search {
    .control-label {
        padding-right: 0;
        color: $gray18;
    }
    .form-control {
        border: none;
        border-radius: 1px;
        margin-bottom: 0;
        /* sketch */
        background: #F5F5F5;
        // make inset shadow works in safari
        -webkit-appearance: none;
        -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
        &.total {
            background-color: transparent;
            box-shadow: none;
            line-height: 1.6;
            padding-left: 0;
            @media screen and (max-width: $screen-sm) {
                 padding: 0;
            }
        }
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        select,
        textarea,
        input {
            font-size: 16px;
        }
    }
}

.dropdown-tablerow {
    .form-control {
        background: #fff;
           -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.16);
        -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.16);
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    }
    .track-spending-form {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.track-spending-input {
    margin-right: 25px;
    margin-bottom: 17px !important;
}

.vip {
    .form-control {
        width: 150px;
        margin-bottom: 34px;
    }
}

.coupon-content__group {
    @extend .form-group;
}

.coupon-content__list {
    > li {
        margin-bottom: 1em;
    }
}

.coupon-content {
    border: 1px dashed #ccc;
    border-radius: 13px;
    padding: 20px;
    position: relative;
    .icon--scissors {
        position: absolute;
        top: -18px;
        right: -20px;
    }
    .text-right {
        @media screen and (max-width: $screen-sm) {
            text-align: left;
        }
    }
    &__heading {
        font-weight: bold;
        margin-bottom: 2px;
        color: $gray13;
    }
    &__content {
        color: $gray60;
    }
}

.icon--circle {
    margin-top: -3px;
    margin-right: 6px;
}

.track-spending-form {
    border-bottom: 1px dashed lighten(#C2C2C2, 15%);
    padding-bottom: 20px;
}

// solve auto zoom issue
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select,
    textarea,
    input {
        font-size: 16px;
    }
}
