.stock-index {
     text-align: center;
    .stock-index__graph {
       
    }
    .stock-index__indicator {
        &-heading {
            color: #AFAFAF;
            font-weight: 300;
            margin-right: 2%;
        }
    }
}