// home page
.home_full-height-content-box {
    &.home_section-money-mgmt {
        .bs-full-height-column-1 {
            background-color: $color-money-mgmt;
        }
    }
    &.home_section-insurance {
        .bs-full-height-column-1 {
            background-color: $color-insurance;
        }
        @media screen and (min-width: $screen-md) {
            .home_full-height-content-box__heading {

                > h1 {
                    position: absolute;
                    top: 1000%;
                    left: 55%;
                }
            }
        }
        @media screen and (min-width: $screen-lg) {
            .home_full-height-content-box__heading {

                > h1 {
                    position: absolute;
                    top: 800%;
                    left: 55%;
                }
            }
        }
    }
    &.home_section-invest {
        .bs-full-height-column-1 {
            background-color: #D24140;
        }
        @media screen and (min-width: $screen-md) {
            .home_full-height-content-box__heading {

                > h1 {
                    position: absolute;
                    top: 1500%;
                    left: 55%;
                }
            }
        }
    }
}

// make home page heading full height of row
.bs-full-height-column-1 {

    @media screen and (min-width: $screen-md) {
        width: 50px
    }
}

.bs-full-height-column-2 {
    padding: 15px 18px;
}

.home_full-height-content-box__heading {
    //    font-family: source-han-serif-sc, serif;
    font-style: normal;
    font-weight: 900;
}

.home_full-height-content-box__heading {

    > h1 {
        color: #fff;
        text-align: center;
        padding-top: 30px;
        font-size: 18px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
    }
}

@media screen and (min-width: $screen-md) {
    .home_full-height-content-box__heading {
        position: relative;
        > h1 {
            position: absolute;
            top: 760%;
            left: 55%;
            transform: translate(-50%, -50%);
        }
    }
    .bs-row-full-height {
        overflow: hidden;
    }
    .bs-full-height-column-1 {
        padding-bottom: 100%;
        margin-bottom: -100%;

    } //.bs-full-height-column-2 {
    //    overflow: hidden;
    //}
}

// vertical heading color
.home-insurance {
    > .home_full-height-content-box__heading {
        background-color: #6D95C0;
    }
}


#home .m_heading1 .m_heading1__title {
    background-color: #f4f4f4;
}

// heading 1 sans serif in home page
.m_heading1 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 18px;


    .m_heading1__title {
        vertical-align: middle;
        padding: 2px 5px;
        //      font-family: source-han-serif-sc, serif;  
        font-weight: 700;
        color: $gray13;
        margin-right: 3px;
        
    }
    .division--vertical {
        margin-left: 3px;
        display: inline-block;
        vertical-align: middle;
        height: 15px;
        width: 1px;
        background-color: #dadada;
    }
    .m_heading1__title--english {
        margin-left: 5px;
        color: #929292;
        font-weight: light;
        @media screen and (min-width: $screen-sm) {
            font-weight: 300;
        }
        display: inline-block;
        vertical-align: middle;
        font-size: 11px;

        background-color: #F4F4F4;
        padding: 5px 6px 4px 6px;
        letter-spacing: 1px;
    }
}


.m_heading1 {
    .division--vertical {
        margin-right: 4px;
        display: inline-block;
        vertical-align: middle;
        height: 22px;
        width: 4px;
        background-color: #E1E1E1;
    }
}

.icon-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: lighten($color-money-mgmt, 10%);
}

// heading 2 sans serif
.m_heading2 {
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 18px;
    @media screen and (max-width: $screen-sm) {
        margin-bottom: 10px;
    }
    color: $gray13;
    &.budget-total {
        margin-bottom: 10px;

        .m_heading2__title {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            font-weight: normal;
            font-size: 16px;
        }
        .division--vertical {
            background-color: lighten($color-budget, 15%);
        }
    }
    .m_heading2__title {
        vertical-align: middle;
        //        font-family: source-han-serif-sc, serif;
       font-weight: 700;
        color: $gray13;


        margin-right: 3px;
    }
    .division--vertical {
        margin-right: 4px;
        display: inline-block;
        vertical-align: middle;
        height: 18px;
        width: 4px;
        background-color: #E1E1E1;
    }
    &--product {
        font-size: 1.8rem;
        color: #4C4C4C;
        padding-bottom: 6px;
        &.money-mgmt {
            border-bottom: 2px solid lighten($color-money-mgmt, 10%);
            .icon-dot {
                background-color: lighten($color-money-mgmt, 10%);
            }
        }
        &.insurance {
            border-bottom: 2px solid lighten($color-insurance, 10%);
            .icon-dot {
                background-color: lighten($color-insurance, 10%);
            }
        }
        &.invest {
            border-bottom: 2px solid lighten($color-invest, 10%);
            .icon-dot {
                background-color: lighten($color-invest, 10%);
            }
        }
    }
}

.icon--view {
    margin-top: -2px;
}

.content-more {
    color: #fa9126;
    font-size: 14px;
    float: right;
    padding-top: 5px;
    font-weight: 300;
}

.add-more {
    background-image: url("/dev/images/icon_add-more.svg");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    float: right;
    width: 25px;
    height: 25px;
    &:hover {
        background-image: url("/dev/images/icon_add-more--hover.svg");
    }
}

// VIP
.heading--vip {
    //    font-family: source-han-serif-sc, serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    &-plan {
        margin-bottom: 30px;
        &.success {
            color: #E8201E;
            font-weight: bold;

            animation-delay: .3s; //            animation-iteration-count: infinite;
        }
    }

    .underline--short {
        width: 40px;
        height: 3px;
        display: block;
        margin: auto;
        margin-top: 5px;
        background-color: #3278C4;

    }
}

.heading--vip-plan {
    font-weight: 400;
    font-size: 22px;
}

.total-asset-lock {
    display: inline-block;
    vertical-align: middle;
    float: right;
    position: relative;
    top: 6px;
    width: 17px;
    height: 21px;
    background-image: url('/dev/images/img_lock-locked@2x.png');
    background-size: cover;
    transition: background-image 0.3s;
    &:hover {
        background-image: url('/dev/images/img_lock-unlocked@2x.png');

    }
}


.total-asset__content-more {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 2px;
    right: -3px;
    width: 20px;
    height: 20px;
    background-image: url('/dev/images/img_content-more.png');
    background-size: cover;
    transition: transform 0.2s;
    &:hover {
        transform: rotate(90deg);

    }
}

.total-asset {
    &__asset {
        color: $color-income;
    }
    &__liability {
        color: $color-spend;
    }
}
