.horizontal-scrollable-navs {
    position: relative;
}

.navbar-navs {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    background-color: #F5F5F5;
    box-shadow: inset 0 7px 5px -7px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navButton,
.option {
    display: inline-block;
    vertical-align: middle;
    cursor: default;
}

.navButton {
    padding: 5px 5px;
   
   
}

.navButton:last-child {
    margin-right: 20px;
}

.optionGroup {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 38px;
    left: 0;

}

.option {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    border: 1px solid #DDD;
    border-radius: 3px;
    z-index: 9999;
    background-color: #ccc;
}

.option p {
    margin: 0 0 5px;
    white-space: nowrap;
}

.option p:hover {
    background-color: #EEE;
}

// search input
.input-groups {
    margin-left: 8px;

    .btn-primary {
        border-width: 0;
        padding: 4px 10px;

    }
    input {
        width: 100px;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 2px 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;


    }
}

.checkbox-group {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: 2px;
}

.checkbox--filter {
    display: inline-block;
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}

// checkbox-group
/**
 * Start by hiding the checkboxes
 */

//input[type=checkbox] {
//    visibility: hidden;
//}
//
//.checkbox-group {
//    display: inline-block;
//    margin-left: 10px;
//    margin-right: 10px;
//}
//
//.checkbox--filter {
//    display: inline-block;
//    width: 25px;
//    margin: 0px 20px;
//    position: relative;
//    label {
//        cursor: pointer;
//        position: absolute;
//        width: 25px;
//        height: 25px;
//        top: 0;
//        left: 0;
//        background: #eee;
//        border: 1px solid #ddd;
//        &:after {
//            opacity: 0.2;
//            content: '';
//            position: absolute;
//            width: 9px;
//            height: 5px;
//            background: transparent;
//            top: 6px;
//            left: 7px;
//            border: 3px solid #333;
//            border-top: none;
//            border-right: none;
//
//            transform: rotate(-45deg);
//        }
//    }
//}
//.checkbox--filter label:hover::after {
//    opacity: .5;
//}
//.checkbox--filter input[type=checkbox]:checked + label:after {
//	opacity: 1;
//}
