.magazine-toolbar {
    background-color: #fff;
    padding: 10px 0;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    &__backToList {
        display: inline-block; //        position: relative;
        //        top: 5px;
        margin-right: 10px;
        a {
            color: #999999;
        }
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    min-height: 50px;
}

.icon--backarrow {
    margin-top: -3px;
}

.zoom-in {
    background-image: url('/dev/images/icon_zoom-in.svg');
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    transition: 0.3s background-image;
    &:hover {
        background-image: url('/dev/images/icon_zoom-in--hover.svg');
    }
    margin-right: 5px;
}

.zoom-out {
    background-image: url('/dev/images/icon_zoom-out.svg');
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    transition: 0.3s background-image;
    &:hover {
        background-image: url('/dev/images/icon_zoom-out--hover.svg');
    }
}


.form-select {
        position: relative;
    top: 1px;
    width: 100%;
}
select {
    padding: 3px;
    position: relative;
    top: 8px;
    background: #f8f8f8;
    color: $gray13;
    border: none;
    outline: none;
    display: inline-block;
    //    -webkit-appearance:none;
    //    -moz-appearance:none;
    //    appearance:none;
    cursor: pointer;

}
