.m_media {
    @media screen and (max-width: $screen-md) {
        margin-bottom: 15px;
    } // vertical
    
     &.media--horizontal:last-child {
        margin-bottom: 0;
    }
    .media_heading2 {
        font-size: 1.6rem;
        font-weight: 400;
        color: hsl(0, 0%, 24%);
        line-height: 1.4;
        margin-top: 8px;
        @media screen and (max-width: $screen-sm) {
              font-size: 1.5rem;
        }
        &.media-heading {
            margin-top: 0;
        }
        @media screen and (min-width: $screen-md) {
            height: 38px;
        }

    }
    .media__photo {
        position: relative;
        img {
            object-fit: cover;
        }
        &.feature img {
            height: 112px;
            width: 165px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
            @media screen and (max-width: $screen-sm) {
                height: 80px;
                width: 120px;
            }
        }
        .media__photo-label {
            position: absolute;
            top: 4px;
            left: -8px;
            font-size: 11px;
            font-style: italic;
            padding-left: 3px;
            padding-right: 5px;
            font-weight: 500;
            color: #fcfce3;
            background-color: #fda929;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
    .media__browse-times {
        float: left;
        font-size: 11px;
        color: #AFAFAF;
        margin-bottom: 0;
        font-weight: 100;
    }
    .media__date {
        float: right;
        font-size: 11px;
        color: #AFAFAF;
        margin-bottom: 0;
        font-weight: 100;
    }
    &.media--horizontal {
        // make horitzontal label visible
        overflow: visible;
        .media_heading2 {
            height: 94px;
            @media screen and (max-width: $screen-sm) {
                height: 60px;
            }
        }
    }
   

}


// media in full height column
.media--full-height {
    .media {
        margin-top: 25px;
    }
    .media__photo {
        img {
            width: 97px;
            height: 60px;
            object-fit: cover;
            box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
        }
    }
    .media_heading2 {
        font-size: 1.6rem!important;
        height: 42px !important;
        @media screen and (max-width: $screen-sm) {
                   font-size: 1.5rem!important;
        }
    }
    .media__browse-times {
        float: right;
    }
    .media__date {
        display: none;
    }
    .media__photo-label {
        display: none;
    }

}


// triangle
.arrow-right {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #d06e08;
    position: absolute;
    top: 14px;
    left: -4px;
}

.c-rotate-45 {
    transform: rotate(-45deg);
}
