.modal--lock-asset {
    top: 30vh;
    .modal-content {
        background-color: #f5f5f5;
        padding: 10px 15px;
    }
      .control-label {
        padding-right: 0;
        color: $gray18;
    }
      .form-control {
        border: none;
        margin-bottom: 0;
        /* sketch */
        background: #fff;
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.11);
    }
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        select,
        textarea,
        input {
            font-size: 16px;
        }
    }
}

a.total-asset-lock {
    &:focus {
        outline: none;
    }
}