.home-moneymgmt-services-box-container {
    .col-xs-4:first-child {
        padding-right: 6px;
    }
    .col-xs-4:nth-child(2) {
        padding-left: 6px;
        padding-right: 6px;
    }
    .col-xs-4:last-child {
        padding-left: 6px;
    }
    .row {
        margin-top: 45px;
       
    }
}

.m_home-moneymgmt-services-box {
    text-align: center;
    max-width: 127px;
  
    .home-moneymgmt-services-box__icon-box {
        padding: 18% 0px 10% 0px;
        
        /* sketch */
        background: #F4F8F0;
        transition: background .2s, transform .25s;
        &:hover {
            background: rgb(237, 247, 225);
            transform: scale(1.02);
        }
        border: 2px solid rgba(138, 138, 138, 0.18);
        border-radius: 6px;
        &
        > h3 {
            margin-top: 10px;
            color: #7F7F7F;
            font-size: 18px;
        }
        img {
            max-height: 49px;
            max-width: 100%;
        }
    }
    .home-moneymgmt-services-box__heading {
        margin-top: 18px;
        font-size: 14px;
        color: #7F7F7F;
    }
}
