
.filter-conditions {
    li {
        background-color: hsl(0, 0%, 96%);
        padding: 3px 10px 3px 10px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, .0);
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        color: #b1b1b1;
        
    }
    .close {
        line-height: .8;
        margin-left: 5px;
    }
}

.common-template-tabs {
    > li {
        &.active > a {
            border-bottom-color: #fff;
            &:hover,
            &:focus {
                border-bottom-color: #fff;
            }
        }
    }
}

.common-template-tab-content {
    border-right: 1px solid lighten($brand-primary, 30%);
    border-bottom: 1px solid lighten($brand-primary, 30%);
    border-left: 1px solid lighten($brand-primary, 30%);
    padding-top: 10px;
    padding-bottom: 10px;
    > .tab-pane {
        padding-left: 5px;
        padding-right: 5px;
    }
//    padding-right: 10px;
//    padding-left: 10px;
}

// navs for table
.nav-pills {
    > li {
        float: left; // Links rendered as pills
        > a {
            border-radius: 0;
            color: #BDBDBD; // not selected color
            font-size: 14px;
            font-weight: 300;
        }
        + li {
            margin-left: 6px;
        } // Active state
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: #565656;
                font-weight: normal;
                background-color: transparent;
                border-bottom: 2px solid $color-insurance;
            }
        }
    }
    &.nav-primary {
           
        > li {
         
            &.active > a {
                  &,
            &:hover,
            &:focus {
                color: #565656;
                font-weight: normal;
                background-color: transparent;
                border-bottom: 2px solid $brand-primary;
            }
            }
        }
    }
}

.home_section-invest {
    .nav-pills {
        > li {
            float: left; // Links rendered as pills
            + li {
                margin-left: 6px;
            } // Active state
            &.active > a {
                &,
                &:hover,
                &:focus {
                    border-bottom: 2px solid $color-invest;
                }
            }
        }
    }
}

.nav-pills {
    margin-bottom: 8px;
    > li {
        position: relative;
        display: block;

        > a {
            position: relative;
            display: block;
            padding: 2px 10px;
            &:hover,
            &:focus {
                text-decoration: none;
                background-color: transparent;
            }
        }
    }
}
