/*login*/

#login,
#signup,
#reset-pwd {
    background-color: #fff;
    .navbar-default {
        background-color: #fff;
    }
    .input-group {
        width: 96%;
        margin: auto;
    }
    .checkbox-pwd-container {
        width: 84%;
        margin-left: auto;
        margin-right: auto;
    }
}

.forget-pwd {
    color: #6c6c6c;
    &:hover {
        color: $brand-primary;
    }
}



.signup {
    @extend .login;
}

.login {
    max-width: 290px;
    .login_heading-container {
        text-align: center;
        margin-bottom: 2.2em;
    }
    .login_heading {
        font-size: 16px;
        color: $brand-primary;
        padding-bottom: 6px;
        border-bottom: 1px solid rgba($brand-primary, .5);
    }

    /* align with other form-groups*/
    .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    .input-group {
        margin-left: -15px;
        margin-right: -15px;
        .form-control {
            border: none;
            box-shadow: none;
        }
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        box-shadow: none;
    }
    .input-group-addon {
        background-color: transparent;
        border: none;
        box-shadow: none;
        &:first-child {
            border-bottom-left-radius: 0;
        }
    }
    .founder {
        text-align: center;
        color: #d0d0d0;
        font-size: 12px;
    }
    .forget-pwd {
        display: inline-block;
        float: right;
        /*float the second inline-block to make its container's margin-bottom working*/
    }
    .checkbox {
        display: inline-block;
        padding-top: 0;
    }
    .is-not-member {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}




.btn-register--secondary {
    background-color: #CBCBCB;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    &:hover {
        background-color: #DA413D;
        color: #fff;
    }
    &:active,
    &:focus,
    &:visited {
        background-color: darken(#DA413D, 10%);
        color: #fff;
    }
    // active and focus in the same time
    &:active {
        &:focus {
            background-color: darken(#DA413D, 10%);
            color: #fff;
        }
    }
}

.btn-reset-pwd {
     background-color: #4C91FF;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    &:hover {
        background-color: lighten(#4C91FF, 5%);
        color: #fff;
    }
    &:active,
    &:focus,
    &:visited {
        background-color: darken(#4C91FF, 10%);
        color: #fff;
    }
    // active and focus in the same time
    &:active {
        &:focus {
            background-color: darken(#4C91FF, 10%);
            color: #fff;
        }
    }
}




/*signup*/



/* or divider*/

.two-sides-divider_container {
    position: relative;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    .two-sides-divider__text {
        padding: 0 15px;
        background-color: #fff;
        display: inline;
        color: #7F7F7F;
        font-size: 12px;
        .rounded {
            border: 1px solid #ccc;
            border-radius: 50%;
            padding: 6px;
        }
    }
    .two-sides-divider__line {
        border-top: 1px solid #e6e6e6;
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: -1;
    }
}
