.table {
    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border-top: 0;
            }
        }
    } // Bottom align for column headings
    > thead > tr > th {
        border-bottom: 1px solid #6BB4EB;
    } // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }
    // fix horizontal scrollbar shown in desktop
    width: 99%;
}

.account-detail-table {
    // Bottom align for column headings
    > thead > tr > th {
        border-bottom: 1px solid $brand-primary;
    }
    > thead > tr > th:nth-child(6) {
        //         text-align: center;
    }
    > tbody > tr > td:nth-child(1),
    > tbody > tr > td:nth-child(2) {
        padding-left: 5px;
        padding-right: 0;
    }
    > tbody > tr > td {
        padding: 8px 4px;
    }
    &.receipt {
        > thead > tr > th:nth-child(2) {
            text-align: center;
        }
        > tbody > tr > td:nth-child(2) {
            text-align: center;
        }
        > tbody > tr > td:nth-child(1) {
            width: 58px;
            vertical-align: middle;
            text-align: center;
            position: relative;
            left: -5px;
        }
        > tbody > tr > td {
            vertical-align: middle;
        }

        > tbody > tr > td:nth-child(1) {
            padding-left: 0px;
            padding-right: 0px;
        }
        > tbody > tr > td:nth-child(2) {
            padding-right: 3px;
            padding-left: 3px;
        }
        > tbody > tr > td:nth-child(3) {
            // 發票號碼 + 手機條碼寬度
            width: 200px;
        }

    }

}

// vault overview page
.track-spending-table {
    margin-bottom: 0;
    > tbody + tbody {
        border-top: none;
    }
    img {
        height: 44px;
        width: auto;
    }
    th {
        width: 54px;
        padding: 0 !important;
        padding-left: 8px !important;

    }
    td {
        text-align: right;
        padding-top: 3px !important;
        padding-bottom: 0 !important;
    }
    tbody.track-spending-table__item {
        border-bottom: 1px dashed #C2C2C2;
    }
}


.home_section-invest {
    .table {
        // Bottom align for column headings
        > thead > tr > th {
            border-bottom: 1px solid $color-invest;
        }
        > thead > tr > th:last-child,
        > thead > tr > th:nth-child(2) {
            text-align: right;
        }
        > tbody > tr > td:nth-child(2),
        > tbody > tr > td:last-child {
            text-align: right;
        }
    }
}

.table--total-asset {
    // Bottom align for column headings
    > thead > tr > th {
        border-bottom: 1px solid #8A8A8A;
    }
    > tbody > tr > td:nth-child(2),
    > tbody > tr > td:last-child {
        text-align: right;
    }
}

.home_my-fund {
    table {
        > tbody > tr > td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 28ch;
            @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
                white-space: normal;
            }
        }
    }
    thead th:last-child {
        //        width: 70px;
    }
}

thead {
    th {
        color: #383838;
    }
}

tbody {
    td {
        color: #757575;
    }
}


.table-striped {
    > tbody > tr:nth-of-type(odd) {
        background-color: rgba(190, 190, 190, .1);
    }
}


.table-striped {
    > tbody > tr:nth-of-type(even) {

        background-color: transparent;

    }
}


.table-responsive {
    border: none;
    -webkit-overflow-scrolling: touch; // scrolling hint
    &.scrolling-hints {
        @media screen and (max-width: $screen-sm) {
            background: radial-gradient(farthest-side at 0% 50%, rgba(200, 200, 200, .2), rgba(0, 0, 0, 0)),
            radial-gradient(farthest-side at 100% 50%, rgba(200, 200, 200, .2), rgba(0, 0, 0, 0)) 100% 0;
            background-color: white;
            background-repeat: no-repeat;
            background-size: 10px 100%;
            margin-bottom: 15px;

            > .table {
                background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
                linear-gradient(to left, white 30%, rgba(255, 255, 255, 0)) 100% 0;
                background-size: 50px 100%;
                background-repeat: no-repeat;
                max-width: none;
                margin-bottom: 0;

            }
        }
    }
}


.dropdown-tablerow {
    background-color: #efefef !important;
    box-shadow: inset 0 2px 5px -2px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #e2e2e2 !important;
    border-bottom: 1px solid #e2e2e2;
    > td {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
    .table {
        margin-bottom: 0;
        background-color: transparent;
        > thead > tr > th {
            border-bottom: 1px solid #b7b7b7; 
            &:nth-child(3) {
                text-align: center;
            }
        }
        > tbody > tr > td {
            text-align: left;
            vertical-align: middle;
        }
    

    }
    time,
    .address-n-barcode-container
    {
        display: block;
        text-align: left;
     margin-bottom: 2px;
    }
    a {
        &:hover {
            color: $brand-primary;
        }
    }
    address {
        display: inline-block;
    }
    .barcode--mobile {
       float: right;
    }
}


.table-insurance {
    th[scope="row"] {
        padding: 0px;
        padding-left: 5px;
        vertical-align: middle;

    } // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding-left: 2px;
                line-height: $line-height-base;
                vertical-align: top; //                border-top: 1px solid $table-border-color;
            }
        }
    }
    tbody > tr > td:nth-child(2) {
        width: 54px;
        vertical-align: middle;
    }

}


// stackable RWD table, collapse with breakpoint
.Rtable {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2em 0;
    padding: 0;
}

.Rtable-cell--head {
    background-color: #eaeaea !important;
    border-color: #5a6673;
    > h3 {
        color: $gray13;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
}




.Rtable--3cols > .Rtable-cell {
    width: 33%;
    text-align: center;
    /* Rectangle Copy 3: */
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
}

.Rtable-cell {
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
}


@media all and (max-width: 500px) {
    .Rtable--collapse {
        display: block;
        > .Rtable-cell {
            width: 100% !important;
        }
        > .Rtable-cell--foot {
            margin-bottom: 1em;
        }
    }
}

.pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}

caption > time {
    font-size: 14px;
    font-weight: bold;
    &::before {
        content: "";
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 3px;
        background-color: #e0e0e0;
    }
    &::after {
        content: "";
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
        margin-left: 3px;
        background-color: #e0e0e0;
    }
}

.account-detail-table {
    tr {
        cursor: pointer;
    }

}

.table-budget-category--secondary {
    margin-bottom: 0;
    .budget-num {
        font-size: 14px;
    }
    tr > td:last-child {
        .budget-num {
            display: inline-block;
            min-width: 20%;
            text-align: right;
            @media screen and (max-width: $screen-sm) {
                min-width: 100%;
            }
        }
    }
}

caption {
    time {
        line-height: 2.3;
    }
    .input-group-search {
        float: right;
        width: 50%;
        @media screen and (max-width: $screen-sm) {
            width: 60%;
            float: none;
        }
    }
}

.flex-horizontal {
    display: flex;
    justify-content: space-between;
}

.input-group-search {
    &.receipt {
        width: 50%;
    }
}

.table-filter {
    color: $gray13;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &::after {
        content: /*"\e113"*/
        "\e114";
        position: relative;
        top: 1px;
        font-size: 11px;
        margin-left: 3px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        color: $brand-primary;
        font-style: normal;
        font-weight: normal;
    }
}


// for hidden table row
.hidden-first-row {
    > td:first-child {
        &::before {
            content: "\e258";
            font-size: 9px;
            margin-left: 0px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            color: #fa9126;
            font-style: normal;
            font-weight: normal;
        }
    }
}

tbody .hidden-first-row td,
tbody .hidden-second-row td,
tbody .hidden-third-row td {
    color: #949494 !important;
}

.hidden-second-row,
.hidden-third-row {
    > td:first-child {
        &::before {
            content: "";
            font-size: 6px;
            margin-left: 9px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            color: #fa9126;
            font-style: normal;
            font-weight: normal;
        }
    }
}

.table-num-align-center-right {
    text-align: center;
    > div {
        display: flex;
        width: 60%;
        justify-content: flex-end;
        @media screen and (max-width: 414px) {
            width: 100%;
        }
    }
}

.img-barcode--mobile {
    margin-left: 3px;
    margin-right: 3px;
    height: 16px;
    position: relative;
    top: -1px;
}

.is-track-spending {
    border: 1px solid $color-is-track-spending;
    color: $color-is-track-spending;
    border-radius: 4px;
    display: inline-block;
    padding: 1px 4px;
}

.is-not-track-spending {
    border: 1px solid $color-is-not-track-spending;
    color: $color-is-not-track-spending;
    border-radius: 4px;
    display: inline-block;
    padding: 1px 4px;
}


.dropdown-tablerow__btn-container {
    text-align: right;
    padding-right: 8px;
}
// make width: 220px to width: 100%
.bootstrap-select {
    width: 100% !important;
    .btn-default {
         border: none;
        border-radius: 1px;
        margin-bottom: 0;
        /* sketch */
        background: #f5f5f5;
        // make inset shadow works in safari
        -webkit-appearance: none;
        -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    }
}